.drop-filter {
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.03);
  background-color: #e3e6f1;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 20px;

  p {
    opacity: 0.6;
    font-family: Circe, serif;
    font-size: 14px;
    color: #000;
    margin: 0;
  }
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f6f6f6;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-detail {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.status-circle {
  font-size: 28px;
  line-height: 0.1;
  position: relative;
  left: -5px;
}

.mat-table {
  font-family: Circe;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.03);
  border-spacing: 0px 10px;
  background: none;
}
.mat-cell {
  text-align: center;
  line-height: 13px;
  font-size: 12px;
}
td.mat-cell:first-child,
th.mat-header-cell:first-child {
  padding-left: 0;
}
th.mat-header-cell {
  text-align: center;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0;
  border: none;
  background-color: #fff;
}
tr.mat-header-row {
  height: 40px;
}
tr {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.mat-paginator {
  display: block;
  position: fixed;
  bottom: -10px;
  left: 60px;
  width: 100%;
  background: #d8d8d8;
}

::ng-deep.dx-datagrid {
  font: 12px 'Circe';
  line-height: 13px;
  background-color: transparent;
}

::ng-deep.dx-datagrid-pager {
  position: fixed;
  bottom: 0;
  left: 60px;
  background-color: #d8d8d8;
  border-top: 0 !important;
  width: calc(100% - 60px);
  padding: 5px 20px;
  z-index: 9999;
}

::ng-deep.dx-pager .dx-pages .dx-selection,
::ng-deep.dx-pager .dx-page-sizes .dx-selection {
  background-color: #fff;
}

::ng-deep .dx-datagrid-group-opened,
::ng-deep .dx-datagrid-group-closed {
  margin-top: 10px;
}

::ng-deep.dx-datagrid .dx-row > td {
  padding: 20px 10px;
}

::ng-deep .dx-datagrid-headers {
  border-bottom: none;
}

::ng-deep .dx-datagrid .dx-column-lines > td {
  border-left: none !important;
  border-right: none !important;
}

::ng-deep .dx-datagrid-header-panel {
  border-bottom: none;
}

::ng-deep .dx-datagrid-rowsview {
  border-top: none !important;
}

::ng-deep .dx-group-row {
  background-color: #fff !important;
}

::ng-deep .dx-datagrid-rowsview .dx-row {
  border-top: 12px solid #f8f8f8;
  border-bottom: 18px solid #f8f8f8;
  background: #fff;
}

::ng-deep .dx-header-row {
  background-color: #fff;
}

::ng-deep .dx-toolbar {
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.03);
  background-color: #e3e6f1;
}

::ng-deep .dx-group-panel-item {
  background-color: #fff;
}

::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  border-bottom: none !important;
}

#gridContainer {
  margin-top: 10px;
}

.color-success {
  font-weight: 600;
  color: #32b970;
}

.color-danger {
  font-weight: 600;
  color: #f44336;
}

::ng-deep .dx-datagrid-filter-row {
  border-top: 10px solid #f8f8f8;
}

::ng-deep .dx-datagrid-filter-row > td > .dx-editor-with-menu {
  border-right: 5px solid #f8f8f8;
}
