.add-file {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;

  label {
    font-family: Circe;
    display: block;
    font-size: 16px;
    margin-bottom: 6px;
    color: #11223e;
  }

  .form-control {
    font-family: Circe;
    font-size: 14px;
    color: #11223e;
    border-radius: 5px;
    border: solid 1px #dbdee2;
    line-height: 18px;
    padding: 11px 15px 9px 15px;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
  }
}

.row {
  margin-top: 30px;
  text-align: right;
  .btn {
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
    font-family: Circe;
    cursor: pointer;
    color: #fff;
    padding: 0 20px;
  }

  .btn-success {
    border: solid 1px #32b970;
    background-color: #32b970;
  }

  .btn-danger {
    border: 1px solid #f44336;
    background-color: #f44336;
  }

  .mr-10 {
    margin-right: 10px;
  }
}

.ng-dirty {
  border-color: #32b970 !important;
}

:host::ng-deep .ng-dirty > .ui-dropdown {
  border-color: #32b970 !important;
}

:host::ng-deep .ng-dirty > .ui-multiselect {
  border-color: #32b970 !important;
}

:host::ng-deep .ng-dirty > .ui-calendar > .ui-inputtext {
  border-color: #32b970 !important;
}
