<dx-data-grid
  id="gridContainer"
  keyExpr="Id"
  [dataSource]="dataSource"
  [allowColumnReordering]="true"
  [showBorders]="false"
  [errorRowEnabled]="false"
  [columnAutoWidth]="true"
  (onRowDblClick)="doubleClickFunction($event)"
  (onToolbarPreparing)="onToolbarPreparing($event)"
>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-state-storing
    [enabled]="true"
    type="localStorage"
    storageKey="entityProject"
  ></dxo-state-storing>

  <dxi-column
    alignment="center"
    dataField="FIO"
    caption="Юридическое лицо"
  ></dxi-column>
  <dxi-column
    alignment="center"
    dataField="Name"
    caption="Название проекта"
  ></dxi-column>

  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
    [showInfo]="true"
  ></dxo-pager>
</dx-data-grid>
<app-loading [visiblity]="loading"></app-loading>
