<div margin-top-28 padding-left-sm font-open-sans class="ui-g projects-information">
        <div align-center display-flex class="ui-g-1" min-width-fit>
            <div border-circle class=" image-partner"></div>
            <div margin-for-name>
                <p no-margin font-size-14>Садовой С.</p>
                <p no-margin font-size-12 color-gray>12.03.2018</p>
            </div>
        </div>
        <div class="ui-g-9" font-size-12 color-gray>Lorem Ipsum - это текст-«рыба», часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной «рыбой» для
            текстов на латинице с начала XVI века.</div>
    </div>
    <div margin-top-28 padding-left-sm font-open-sans class="ui-g projects-information">
            <div align-center display-flex class="ui-g-1" min-width-fit>
                <div border-circle class=" image-partner"></div>
                <div margin-for-name>
                    <p no-margin font-size-14>Садовой С.</p>
                    <p no-margin font-size-12 color-gray>12.03.2018</p>
                </div>
            </div>
            <div class="ui-g-9" font-size-12 color-gray>Lorem Ipsum - это текст-«рыба», часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной «рыбой» для
                текстов на латинице с начала XVI века.</div>
        </div>