.title {
  margin: 12px 10px 2px 22px;

  .text {
    font-family: CeraPro;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: #2c2c2c;
  }

  .close {
    height: 25px;
    width: 25px;
    border: 1px solid #1875f0;
    border-radius: 50%;
    background: none;
    padding: 0;
    i {
      color: #11223e;
      font-size: 20px;
      margin: 0 auto;
    }
  }
}

.form_group {
  width: 258px;
  margin: 0 auto;
  padding: 5px;
  label {
    font-family: Circe;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.64;
    letter-spacing: normal;
    text-align: left;
    color: #11223e;
  }
  input[type="text"] {
    width: 100%;
    padding: 7.5px 8px;
    margin: 4px 0;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #dbdee2;
    font-family: Circe;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.64;
    letter-spacing: normal;
    text-align: left;
    color: #11223e;
  }
  .add {
    color: white;
    width: 100%;
    border: none;
    height: 45px;
    margin-top: 38px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Circe;
    border: solid 1px #1875f0;
    background-color: #1875f0;
  }
}

.valid {
  opacity: 0.5;
}

.novalid {
  opacity: 1;
}

:host::ng-deep .ui-state-default {
  font-family: Circe;
  font-size: 14px;
  text-align: left;
  color: #11223e;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 14px;
  padding: 11px 15px 9px 15px;
  width: 100% !important;
  background-color: white;
}

:host::ng-deep .ui-dropdown-panel {
  min-width: 100%;
  top: 45px !important;
}

:host::ng-deep .ui-state-default:hover {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

:host::ng-deep .ui-state-focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

:host::ng-deep .ui-state-highlight {
  border-color: none;
  background-color: transparent;
  color: #11223e;
}

:host::ng-deep .ui-dropdown-trigger-icon:before {
  content: "";
}

:host::ng-deep .ui-dropdown-trigger-icon {
  top: 50%;
  left: 50%;
  margin-top: -0.5em !important;
  margin-left: -0.8em !important;
  font-size: 10px;
}

:host::ng-deep .ui-dropdown:not(.ui-state-disabled):hover {
  background-color: transparent;
}

:host::ng-deep .ui-corner-right {
  width: 20px !important;
  border: none;
}

:host::ng-deep .ui-multiselect:not(.ui-state-disabled):hover {
  background-color: transparent;
}

:host::ng-deep .ui-chkbox-box {
  padding: 10px;
}

:host::ng-deep .ui-state-active {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 1.125em !important;
  height: 1.125em;
}

:host::ng-deep .ui-multiselect-filter-container .ui-inputtext {
  padding: 0.429em 2em 0.429em 0.429em;
}

:host::ng-deep .ui-multiselect-filter-icon {
  color: #007ad9;
  top: 50% !important;
  margin-top: -0.5em;
  right: 0.5em;
  left: auto !important;
}

:host::ng-deep .ui-inputtext:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

::ng-deep international-phone-number > .input-group > input {
  font-family: Circe;
  font-size: 14px;
  text-align: left;
  color: #11223e;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #dbdee2;
  line-height: 18px;
  padding: 11px 15px 9px 15px;
  width: 100%;
}

::ng-deep .input-group {
  height: auto;
  display: flex;
  flex-direction: row;
}

::ng-deep .flagInput > .dropdown {
  height: 100%;
}

::ng-deep button.dropbtn {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff00 !important;
}

::ng-deep button.dropbtn > .arrow-down {
  margin-top: 0px;
}

.ng-dirty {
  border-color: #32b970 !important;
}

:host::ng-deep .ng-dirty > .ui-dropdown {
  border-color: #32b970 !important;
}

:host::ng-deep .ng-dirty > .ui-multiselect {
  border-color: #32b970 !important;
}

:host::ng-deep .ng-dirty > .ui-calendar > .ui-inputtext {
  border-color: #32b970 !important;
}
