@import "../../../../views/base/styles/theme.scss";
@each $key,
$value in $common-themes {
    .#{$key} {
        .tif-wrapper {
            height: 100%;
            .viewer-tif {
                overflow: auto;
                height: 100%;
                width: 100%;
                background-color: white;
            }
        }
    }
}
