@import "../../../../views/base/styles/theme.scss";
@each $key,
$value in $common-themes {
    .#{$key} {
        .h-tab-wrapper {
            padding: 10px;
            height: 100%;
            .ag-grid-history {
                width: 100%;
                height: 100%;
            }
            .thumbnail{
                width: 95px!important;
            }
            .ag-cell {
              padding: 2px;
            }
        }
      .indicator-wrapper {
        .indicator {
          width: 16px;
          height: 16px;
          border-radius: 8px;
        }
        .green {
          background-color: getThemeColor(12, $key);
        }
        .red {
          background-color: getThemeColor(13, $key);
        }
        .yellow {
          background-color: getThemeColor(7, $key);
        }
        .blue {
          background-color: getThemeColor(10, $key);
        }
      }
    }
}
