@import "../../../../../../../views/base/styles/theme.scss";
@each $key,
$value in $common-themes {
    .#{$key} {
        .ag-cell {
            .wrapper {
                .label-status {
                  width: 15px;
                  height: 15px;
                  border: 1px solid getThemeColor(1, $key);
                  border-radius: 10px;
                  display: inline-block;
                  margin-right: 3px;
                  position: relative;
                  top: 3px;
                }
            }
        }
    }
}
