@import "../../../base/styles/theme.scss";

@each $key, $value in $common-themes {
  .#{$key} {
    .system-config-wrapper {
      height: 100%;
      padding: 16px;
      .sc-sidebar {
        padding: 16px;
        height: 100%;
        background: getThemeColor(4, $key);
        flex: 1;

        li {
          font-size: 12px;
          padding: 5px 0;
          cursor: pointer;
          border-bottom: 2px solid transparent;
        }

        li.active {
          border-bottom: 2px solid getThemeColor(7, $key);
        }

      }
      .sc-viewport {
        padding: 0 16px;
        height: 100%;
        flex: 5;
        overflow: hidden;
        .sc-container {
          height:100%;
          position: relative;
        }
      }
    }
  }
}
