

<div class="alert alert-default" role="alert">
    <h4 class="alert-heading">
        {{ 'profile.security.change_password.title' | translate }}
    </h4>
    <div class="form-group row">
        <label for="password-input-current" class="col-xs-2 col-form-label">
            {{ 'profile.security.change_password.current_pass' | translate }}
        </label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="" id="password-input-current">
        </div>
    </div>

    <div class="form-group row">
        <label for="password-input-first" class="col-xs-2 col-form-label">
            {{ 'profile.security.change_password.new_pass' | translate }}
        </label>
        <div class="col-xs-10">
            <input class="form-control" type="password" value="" id="password-input-first">
        </div>
    </div>
    <div class="form-group row">
        <label for="password-input-second" class="col-xs-2 col-form-label">
            {{ 'profile.security.change_password.repeat_pass' | translate }}
        </label>
        <div class="col-xs-10">
            <input class="form-control" type="password" value="" id="password-input-second">
        </div>
    </div>

    <button type="button" class="btn imfx-btn pull-right">
        {{ 'profile.security.change_password.button' | translate }}
    </button>
  <div style="clear:both;"></div>
</div>
