.legal-entity {
  padding: 16px;
}

.form-group {
  margin-bottom: 15px;
  .label {
    font-family: Circe;
    display: block;
    opacity: 0.6;
    font-size: 16px;
    color: #11223e;
    width: 90%;
  }
}

.form-control {
  font-family: Circe;
  font-size: 14px;
  color: #11223e;
  border-radius: 5px;
  border: solid 1px #dbdee2;
  line-height: 18px;
  padding: 11px 15px 9px 15px;
  width: 90%;
  box-sizing: border-box;
}

.btn {
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
  font-family: Circe;
  cursor: pointer;
  color: #fff;
  padding: 0 20px;

  &-success {
    border: solid 1px #32b970;
    background-color: #32b970;
  }

  &-danger {
    border: 1px solid #f44336;
    background-color: #f44336;
  }
}

.column-2 {
  .form-group {
    text-align: right;

    .label {
      text-align: left;
      margin-left: 10%;
    }
  }
}

.mr-10 {
  margin-right: 10px;
}

.row {
  margin-top: 16px;
  margin-right: 8px;
  text-align: right;
}

:host::ng-deep {
  .ui-state-default {
    font-family: Circe;
    font-size: 14px;
    text-align: left;
    color: #11223e;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 14px;
    padding: 11px 15px 9px 15px;
    width: 90% !important;
    background-color: white;
    border: 1px solid #dbdee2;
  }

  .ui-dropdown-panel {
    min-width: 100%;
    top: 45px !important;
  }

  .ui-state-default:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  }

  .ui-dropdown-filter {
    height: 28px;
  }

  .ui-state-focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .ui-state-highlight {
    border-color: none;
    background-color: transparent;
    color: black;
  }

  .ui-dropdown-trigger-icon {
    top: 50%;
    left: 50%;
    margin-top: -0.5em !important;
    margin-left: -0.8em !important;
    font-size: 10px;
  }

  .ui-dropdown:not(.ui-state-disabled):hover {
    background-color: transparent;
  }

  .ui-dropdown-item {
    font-family: Circe, serif;
  }
}

.disabled {
  opacity: 0.5;
}

.ng-dirty {
  border-color: #32b970 !important;
}

:host::ng-deep .ng-dirty > .ui-dropdown {
  border-color: #32b970 !important;
}

:host::ng-deep .ng-dirty > .ui-multiselect {
  border-color: #32b970 !important;
}

:host::ng-deep .ng-dirty > .ui-calendar > .ui-inputtext {
  border-color: #32b970 !important;
}
